{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {# CKEDITOR FORMATTER #}
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/skins/sonata/style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/markdown/style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/html/style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/textile/style.css') }}" type="text/css" media="all" />

    <style>
        .side-bar-links {
            margin-left: 15px;
            margin-top: 15px;
            margin-bottom: 5px;
        }
        .side-bar-links > a { color:white !important; }
        .side-bar-links .dropdown-menu>li>a {
            color: #777;
        }

        .bs-callout {
            padding: 20px;
            margin: 20px 0;
            border: 1px solid #eee;
            border-left-width: 5px;
            border-radius: 3px;
            background-color: white;
        }

        .bs-callout-danger { border-left-color: #ce4844; }
        .bs-callout-success { border-left-color: #00a65a; }
        .bs-callout-warning { border-left-color: #f39c12; }

        .btn i { margin-right: 6px; }
        .btn i + i { margin-left: -4px; }

        .markItUpHeader ul li {
            padding-right: 5px;
            padding-bottom: 5px;
        }

        .markItUpHeader ul .markItUpSeparator
        {
            background-color: white;
            color: transparent;
            border-right: 1px solid #b9b9b9;
            margin: 0 15px 0 5px;
        }

        .markItUpEditor {
            font-size: 15px;
            padding: 10px;
            font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
        }

        .markItUpButton4, .markItUpButton5, .markItUpButton6, .markItUpButton12 + .markItUpSeparator, .markItUpButton13, .markItUpButton14 { display: none; }

        .box-body > .alert:last-child { margin-bottom: 0 }

        label[title]:hover {
            cursor: help;
        }
        label[title]:after {
            content: "(?)";
            font-weight: normal;
            font-size: 13px;
            margin-left: 5px;
        }
        .box-body .iframe-container { text-align: center; margin-top: -20px; }
        .box-body .iframe-container-aside {
            float: left;
            margin: -20px 20px 20px 0;
        }
        .text-and-iframe-container:before { display: table; content: " "; }
        .text-and-iframe-container:after { clear: both; display: table; content: " ";}

        .main-header { display: flex; }
        .main-header .logo { width: auto; }
        .main-header .logo label:hover { cursor: pointer; }
        .main-header .navbar { flex: auto; margin-left: 0; }

        pre {
          font-size: 11px;
          line-height: 13px;
          text-align: left;
        }
    </style>


{% endblock %}

{% block javascripts %}
    {{ parent() }}


    {# CKEDITOR FORMATTER #}
    <script src="//cdn.ckeditor.com/4.7.3/full/ckeditor.js"></script>
    <script src="{{ asset('bundles/sonataformatter/vendor/markitup-markitup/markitup/jquery.markitup.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/markdown/set.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/html/set.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/textile/set.js') }}" type="text/javascript"></script>

    <script>
    // bootstrap-ckeditor-modal-fix.js
    // hack to fix ckeditor/bootstrap compatiability bug when ckeditor appears in a bootstrap modal dialog
    //
    // Include this AFTER both bootstrap and ckeditor are loaded.
    $.fn.modal.Constructor.prototype.enforceFocus = function() {
      modal_this = this;
      console.log("enforce focus");
      $(document).on('focusin.modal', function (e) {
        if (modal_this.$element[0] !== e.target && !modal_this.$element.has(e.target).length
        && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_select')
        && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_text')) {
          modal_this.$element.focus()
        }
      })
    };

    // CONFIGURATION ADMIN, disable the whole feature box according to checkbox "feature active"
    $(document).ready(function() {
        checkCollaborativeVoteActivated();
        $('.collaborative-feature .sonata-ba-field.sonata-ba-field-inline-natural > .form-group:first-child .icheckbox_square-blue .iCheck-helper').click(checkCollaborativeVoteActivated);

        $('.gogo-feature').each(function() {
            checkGoGoFeatureActivated(this);
        });
        $('.gogo-feature .sonata-ba-field.sonata-ba-field-inline-natural > .form-group:first-child .icheckbox_square-blue .iCheck-helper').click(function() {
            var that = this;
            setTimeout(function() { checkGoGoFeatureActivated($(that).closest('.gogo-feature'));  }, 10);
        });
    });

    function checkCollaborativeVoteActivated() {
        var collabActive = $('.collaborative-feature .sonata-ba-field.sonata-ba-field-inline-natural > .form-group:first-child .icheckbox_square-blue').hasClass('checked');
        var opacity = collabActive ? '1' : '0.4';
        $('.collaborative-moderation-box').css('opacity', opacity);
    }

    function checkGoGoFeatureActivated(object) {
        console.log("feature", object);
        var featureActive = $(object).find('.sonata-ba-field.sonata-ba-field-inline-natural > .form-group:first-child .icheckbox_square-blue').hasClass('checked');
        var opacity = featureActive ? '1' : '0.5';
        $(object).css('opacity', opacity);
    }

    // Helpers
    var formBuilder;
    var formBuilderInitialized = false;

    window.SONATA_CONFIG.CONFIRM_EXIT = false;
    </script>

{% endblock %}

{% block logo %}
    {% spaceless %}
        <a class="logo" href="{{ path('sonata_admin_dashboard') }}">
            <img src="{{ asset('assets/img/default-icon.png') }}">
            <span>GoGoCarto Administration</span>
            {% set newMsgsCount = new_msgs_count() %}
            {% if newMsgsCount > 0 %}
                <label class="label label-info" style="margin-left: 6px">
                    <i class="fa fa-bell" style="margin-right: 3px;"></i>
                    {{ newMsgsCount }} {{ newMsgsCount == 1 ? ' message' : ' messages' }}
                </label>
            {% endif %}
            {% set newErrorsCount = errors_count() %}
            {% if newErrorsCount > 0 %}
                <label class="label label-danger" style="margin-left: 6px">
                    <i class="fa fa-warning" style="margin-right: 3px;"></i>
                    {{ newErrorsCount }} {{ newErrorsCount == 1 ? 'erreur' : 'erreurs' }}
                </label>
            {% endif %}

        </a>
    {% endspaceless %}
{% endblock %}

{% block sonata_sidebar_search %}
    <div class="btn-group side-bar-links">
      <a type="button" href={{ path('biopen_homepage') }} target='_blank' class="btn btn-primary">Retour au site</a>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href={{ path('biopen_directory') }} target='_blank'>La Carte</a></li>
        <li><a href={{ path('biopen_element_add') }} target='_blank'>Formulaire</a></li>
        <li><a href={{ path('biopen_partners') }} target='_blank'>Qui sommes nous</a></li>
      </ul>
    </div>
{% endblock %}

{% block side_bar_after_nav %}
    {# CUSTOM Menu #}
    <ul class="sidebar-menu">
        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN") %}
            <li class="first treeview">
                <a href="{{ path('biopen_bulk_actions_index') }}"><i class="fa fa-bullhorn"></i><span>Actions de masse</span></a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('biopen_core_help') }}"><i class="fa fa-question"></i><span>Aide</span></a>
        </li>
        {% if use_as_saas %}
            <li>
                {% if is_root_project() %}
                    <a href="{{ path('admin_biopen_saas_project_list') }}"><i class="fa fa-folder-open"></i><span>Projets</span></a>
                {% elseif is_granted("ROLE_SUPER_ADMIN") %}
                    <a href="{{ path('biopen_project_delete_my_project') }}" onclick="return confirm('Cette action ne peux pas être annulée. Vous allez supprimer entièrement votre projet. Etes vous sur de vouloir continuer?')">
                        <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i><span>Supprimer ce projet</span></button>
                    </a>
                {% endif %}
            </li>
        {% endif %}
    </ul>
{% endblock %}