<div class="categories-info neutral-color to-html">{{ field.label|raw }}</div>
{% for mainCategory in mainCategories %}    
  {% include '@BiopenGeoDirectory/element-form/form-partials/taxonomy-field.html.twig' with { 'category' : mainCategory } %} 
{% endfor %}
<input id="options-values" name="options-values" type="hidden"/>