{% extends sonata_block.templates.block_base %}

{% block block %}
		{% if messages|length %}
		<div class="sonata-block-logs box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Du nouveau sur GoGoCarto !</h3>
        </div>

        <div class="box-body" style="max-height: 500px; overflow: auto">
        	{% include '@BiopenAdmin/core_custom/custom-fields/display-logs.html.twig' with { logs: messages, dismissLog: is_granted('ROLE_SUPER_ADMIN') } %}
        </div>

        {% if messages|length > 4 and is_granted('ROLE_SUPER_ADMIN') %}
          <div class="box-footer">
             <a href="{{ path('biopen_api_message_hide_all') }}" class="btn btn-default btn-block"><i class="fa fa-list"></i> Supprimer tous les messages</a>
          </div>
        {% endif %}
    </div>
		{% endif %}

		{% if errors|length and is_granted('ROLE_ADMIN') %}
		<div class="sonata-block-logs box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Des erreurs ont eu lieu récemment</h3>
        </div>

        <div class="box-body" style="max-height: 500px; overflow: auto">
        	{% include '@BiopenAdmin/core_custom/custom-fields/display-logs.html.twig' with { logs: errors, dismissLog: true } %}

        </div>

        {% if errors|length > 4 and is_granted('ROLE_ADMIN')%}
        	<div class="box-footer">
             <a href="{{ path('biopen_api_log_hide_all') }}" class="btn btn-default btn-block"><i class="fa fa-list"></i> Supprimer tous les messages</a>
        	</div>
        {% endif %}
    </div>
		{% endif %}

    {% if is_granted('ROLE_ADMIN_ELEMENTS_LIST') %}
  		<div class="row">
        <div class="col-xs-6 col-md-3">
      			<!-- small box -->
  			    <div class="small-box bg-red">
  			        <div class="inner">
  			            <h3>{{ moderationNeededCount }}</h3>
  			            <p>Éléments à modérer</p>
  			        </div>
  			        <div class="icon">
  			            <i class="fa fa-wrench"></i>
  			        </div>
  			        <a href="{{ path('admin_biopen_geodirectory_element_list') }}?filter[moderationNeeded][value]=1" class="small-box-footer">
  			            Afficher <i class="fa fa-arrow-circle-right"></i>
  			        </a>
  			    </div>
  		  </div>


        <div class="col-xs-6 col-md-3">
    			<!-- small box -->
			    <div class="small-box bg-yellow">
			        <div class="inner">
			            <h3>{{ pendingCount }}</h3>
			            <p>Éléments en attente de validation</p>
			        </div>
			        <div class="icon">
			            <i class="fa fa-exclamation-triangle"></i>
			        </div>
			        <a href="{{ path('admin_biopen_geodirectory_element_list') }}?filter[pending][value]=1" class="small-box-footer">
			            Afficher <i class="fa fa-arrow-circle-right"></i>
			        </a>
			    </div>
		  	</div>


        <div class="col-xs-6 col-md-3">
    			<!-- small box -->
			    <div class="small-box bg-green">
			        <div class="inner">
			            <h3>{{ validatesCount }}</h3>
			            <p>Éléments valides</p>
			        </div>
			        <div class="icon">
			            <i class="fa fa-thumbs-up"></i>
			        </div>
			        <a href="{{ path('admin_biopen_geodirectory_element_list') }}?filter[valide][value]=1" class="small-box-footer">
			            Afficher <i class="fa fa-arrow-circle-right"></i>
			        </a>
			    </div>
		  	</div>

		  	 <div class="col-xs-6 col-md-3">
    			<!-- small box -->
			    <div class="small-box bg-aqua">
			        <div class="inner">
			        	{% set externalCount = allVisibleCount - visibleNonImportedCount %}
		            <h3>
		            	{{ visibleNonImportedCount }}
		             	{% if externalCount > 0 %} + {{ externalCount}}<span style="font-size:1.3rem">externes</span>{% endif %}
		            </h3>
		            <p>Tous les éléments visibles</p>
			        </div>
			        <div class="icon">
			            <i class="fa fa-users"></i>
			        </div>
			        <a href="{{ path('admin_biopen_geodirectory_element_list')}}?filters=reset" class="small-box-footer">
			            Tout afficher <i class="fa fa-arrow-circle-right"></i>
			        </a>
			    </div>
		  	</div>
		  </div>
		  <div class="row">
		  	<div class="col-xs-6 col-md-3 col-md-offset-3">
    			<!-- small box -->
			    <div class="small-box bg-purple">
			        <div class="inner">
		            <h3>
		            	{{ activeUsersCount }}
		            </h3>
		            <p>Utilisateurs</p>
			        </div>
			        <div class="icon">
			            <i class="fa fa-users"></i>
			        </div>
			        <a href="{{ path('admin_biopen_core_user_list')}}?filters=reset" class="small-box-footer">
			            Afficher <i class="fa fa-arrow-circle-right"></i>
			        </a>
			    </div>
		  	</div>

		  	<div class="col-xs-6 col-md-3">
    			<!-- small box -->
			    <div class="small-box bg-purple">
			        <div class="inner">
		            <h3>
		            	{{ activeUsersNewsletterCount }}
		            </h3>
		            <p>Abonnés à la newsletter</p>
			        </div>
			        <div class="icon">
			            <i class="fa fa-envelope"></i>
			        </div>
			        <a href="{{ path('admin_biopen_core_user_list')}}?filter[newsletterFrequency][value]=1" class="small-box-footer">
			            Afficher <i class="fa fa-arrow-circle-right"></i>
			        </a>
			    </div>
		  	</div>

		  </div>
      {% endif %}

{% endblock %}